.cell {
    width: 265px;
    height: 160px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.06);
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    transition: border-color .2s linear;
    border: 2px solid rgba(0, 0, 0, 0);
    animation: slide-in-bottom 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) ;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.cell:hover {
    border: 2px solid rgba(0, 0, 0, .2);
}


.typeTeacher {
    background-color: darkorange;
}

.typeStudent {
    background-color: dodgerblue;
}

.typeAdmin {
    background-color: crimson;
}

.typeOther {
    background-color: aquamarine;
}

.type {
    border-radius: 5px;
    padding: 2px 5px;
    color: #fff;
    font-size: 1rem;
}

.roomName {
    font-size: 2rem;
    padding: 0 5px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin-right: 10px;
}

.special:after {
    background-image: url('../../../crown.svg');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content:"";
}

.instrument:before {
    background-image: url('../../../grandPiano.svg');
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content:"";
    margin-right: 5px;
}

.instrument {
    font-size: 16px;
}

.rate:after {
    background-image: url('../../../star.svg');
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content:"";
    margin-left: 5px;
}

.rate {
    font-size: 16px;
}

.instrumentsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.until {
    margin: 0;
    text-align: center;
    color: darkgrey;
}
