.classroom {
  display: grid;
  grid-template-rows: 50px 30px 1fr;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  min-height: 180px;
  position: relative;
  overflow: hidden;
}
.classroom:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.elementTitle {
  font-size: 22px;
}
.classroomName {
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 5px;
  padding: 0 2px;
  vertical-align: sub;
}
.occupantName {
  padding: 0 5px;
  margin-left: 5px;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
  white-space: pre-wrap;
}
.specIcon {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
}
.instrumentIcon {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  margin-right: 5px;
}
.description {
}
.instruments {
  color: #000;
}

.instruments ul {
  padding: 0;
}

.instruments ul li {
  list-style-type: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-bottom: 5px;
}